<?xml version="1.0" encoding="UTF-8"?>

<launch> 
  
    <!-- PEDESTRIAN OBSTACLES -->
    <node
        name  = "PED_OBJ_KL"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_KL -x 8.427 -y 1.001 -z 0 -R 0 -P 0 -Y 0"/>

    <node
        name  = "PED_OBJ_MN"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_MN -x 9.25 -y 3.295 -z 0 -R 0 -P 0 -Y 3.13491"/>
	
    <node
        name  = "PED_OBJ_AD_H"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_AD_H -x 16.74 -y 2.55 -z 0 -R 0 -P 0 -Y 1.56"/>


</launch>
